body {
	/*background: #ffffff url(images/background.png) top right no-repeat;*/
    background-image: linear-gradient(to right, white,white);
    
  
}

form {
	display: table;
	padding: 10px;
	border:1px solid rgba(0, 0, 0, 0.103);
    border-radius: 15px;
	background-image: linear-gradient(to right,#FFC9AD,  #ffc8ad9d);
		
}
form input,
form button{
    padding: 0.5rem;
    font-size: 1.3rem;
    border: none;
    background: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form button{
    color: #faaa81;
    background: white;
    cursor: pointer;
    transition: all 1s ease-out;

}
form textarea {
    padding: 0.5rem;
    font-size: 1.3rem;
    border: none;
    background: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: black;
    font-size: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.103);
}

h2{
        color: black;
        /*border-bottom: 2px solid rgba(0, 0, 0, 0.103);*/
}

h3{
    color: black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.103);
}
p{
    color: black;
    font-size: 1.5rem;
    
}
p.questions{
    color:black;
    font-size: 1rem;
}