@font-face{
    font-family: "Agrandir";
    src: url("../Fonts/agrandir-regular.woff"),
        url("../Fonts/agrandir-regular.ttf");
}

body {
	/*background: #ffffff url(images/background.png) top right no-repeat;*/
    background-image: linear-gradient(to right, white,white);
    margin: auto;
    padding-top: 220px;
    padding-bottom: 110px;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
	display: table;
    margin: auto;
	padding: 10px;
	border:1px solid rgba(0, 0, 0, 0.103);
    border-radius: 15px;
	background-image: linear-gradient(to right,#FFC9AD,  #ffc8ad);	
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form input,
form button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: rgb(255, 255, 255);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}
form button{
    color: #faaa81;
    background: white;
    cursor: pointer;
    transition: all 1s ease-out;
    margin: auto;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
form textarea {
    padding: 0.5rem;
    font-size: 1rem;
    margin: auto;
    border: none;
    background: rgb(255, 255, 255);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: black;
    margin: auto;
    font-size: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.103);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
        color: black;
        margin: auto;
        font-size: 1.2rem;
        font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        /*border-bottom: 2px solid rgba(0, 0, 0, 0.103);*/
        /*border-top: 2px solid rgba(0, 0, 0, 0.103);*/
}

h3{
    color: black;
    margin: auto;
    font-size: 1rem;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid rgba(0, 0, 0, 0.103);
}
p{
    color: black;
    margin: auto;
    font-size: 1rem;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p.questions{
    color:black;
    font-size: 1rem;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#inputArea {
	
    margin: auto;
    position: fixed;
    top:0;
    left:50%;
    width: 400px;
    padding: 10px;
    transform: translate(-50%,0%);
	border:1px solid rgba(0, 0, 0, 0.103);
    border-radius: 15px;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-image: linear-gradient(to right,#FFC9AD,  #ffc8ad);
}


#inputArea input,
#inputArea button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: rgb(255, 255, 255);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    min-width: 30px;
}
#inputArea button{
    color: #faaa81;
    background: white;
    cursor: pointer;
    transition: all 1s ease-out;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#inputArea textarea {
    padding: 0.5rem;
    font-size: 1rem;
    margin: auto;
    border: none;
    background: rgb(255, 255, 255);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#skilllevel {
	
    margin: auto;
    position: fixed;
    bottom:0;
    left:50%;
    width: 400px;
    padding: 5px;
    transform: translate(-50%,0%);
	border:1px solid rgba(0, 0, 0, 0.103);
    border-radius: 15px;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-image: linear-gradient(to right,#FFC9AD,  #ffc8ad);
}

#skilllevel label {
    font-size: 0.5 rem;
    display: inline-block;
    width: 400px;
    text-align: center;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#timerdiv {
	
    margin: auto;
    position: fixed;
    top:0;
    right:0;
    width: 150px;
    height: 20px;
    padding: 2px;
    border:1px solid rgba(0, 0, 0, 0.103);
    border-radius: 15px;
	background-image: linear-gradient(to right,#FFC9AD,  #ffc8ad);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputAreaClass {
	display: table;
    margin: auto;
	padding: 10px;
	border:1px solid rgba(0, 0, 0, 0.103);
    border-radius: 15px;
	background-image: linear-gradient(to right,#FFC9AD,  #ffc8ad);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inputAreaClass input,
.inputAreaClass button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: rgb(255, 255, 255);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    min-width: 30px;
}
.inputAreaClass button{
    color: #faaa81;
    background: white;
    cursor: pointer;
    transition: all 1s ease-out;
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.inputAreaClass textarea {
    padding: 0.5rem;
    font-size: 1rem;
    margin: auto;
    border: none;
    background: rgb(255, 255, 255);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pietimegraph {
	
    margin: auto;
    position: fixed;
    bottom:0;
    left:0;
    width: 400px;
    height: 430px;
    padding: 2px;
    border:1px solid rgba(0, 0, 0, 0.103);
    border-radius: 15px;
	background-image: linear-gradient(to right,#FFC9AD,  #ffc8ad);
    font-family: "Agrandir",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}